<form style="align-items: center; text-align: center; justify-content: center;">

    <label >{{stayLabels.purpose_of_stay_label}} Changed?</label>
      <div class="rounded-input-container" [class.filled]="stayData.purpose_of_stay_germany" >
        <select id="purpose_of_stay_germany" (change)="extractedDataChanged()" name="purpose_of_stay_germany" [(ngModel)]="stayData.purpose_of_stay_germany" class="custom-select"  [ngClass]="{'palceholder_selector': stayData.purpose_of_stay_germany === ''}">
          <option value="" disabled selected>{{stayLabels.purpose_of_stay_germany}} Changed?</option>
          <option *ngFor="let yes_no_option of yesNoOptions" [value]="yes_no_option">{{ yes_no_option }}</option>
        </select>
      </div>

      <label *ngIf="stayData.purpose_of_stay_germany == 'Yes'" >{{stayLabels.purpose_changed_explaination}} Changed To: </label>
      <div class="rounded-input-container" (change)="extractedDataChanged()" *ngIf="stayData.purpose_of_stay_germany == 'Yes'" [class.filled]="stayData.purpose_of_stay_germany" >
        <input class="rounded-input" type="text" name="purpose_changed_explaination" id="purpose_changed_explaination" [(ngModel)]="stayData.purpose_changed_explaination" placeholder="{{stayData.purpose_changed_explaination}}">
      </div>
    

    <div style="display: flex; justify-content: center; margin-top: 1%;">
      <button mat-stroked-button matStepperPrevious style="width: 15%;  margin: 1%;  background-color: rgb(212, 212, 212); color: #b42e29;">{{stayLabels.back_button_label}}</button>
      <button mat-stroked-button style="background-color: #b42e29; color: white; width: 15%;   margin: 1%;" (click)="staySectionButtonClicked()" >{{stayLabels.next_button_label}}</button>        
      <button #hiddenButton hidden matStepperNext>Hidden Button</button>
    </div>

  </form>