app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  app-footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0; /* Ensure the footer doesn't shrink if the content is short */
  }
  
  /* Adjust the styles for the router-outlet or other content as needed */
  router-outlet {
    flex-grow: 0.1;
    flex: 1;
    margin-bottom: auto; /* Adjust the margin to account for the fixed footer */
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: auto; /* Allow vertical scrolling */
    min-height: 100vh;  
    flex: 1;
} 
    

  