<form style="align-items: center; text-align: center; justify-content: center;" *ngIf="!isDataLoading; else spinner">
  
  <div class="description">
  </div>

  <div >
    <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openRegistrationInput()">{{residence_labels.city_registration_document_upload_button_label}} </button>
    <input id="registrationFileInput" (change)="extractedDataChanged()" hidden type="file" accept=".pdf, .jpeg, .png" (change)="registrationUpload($event)"><br>
    <span *ngIf="registrationFile" style="margin-left: 10px;">{{ registrationFile.name }}</span>
  </div>


  <label >{{residence_labels.current_residence_in_germany_label }}</label>
  <div class="rounded-input-container" [class.filled]="residenceData.placeOfResidence" >
    <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="residence_place_field" id="residence_place_field" [(ngModel)]="residenceData.placeOfResidence" placeholder="{{residence_labels.current_residence_in_germany_label}}">
  </div>
  
  <label >{{residence_labels.previous_stays_label}}</label>
  <div class="rounded-input-container" [class.filled]="residenceData.isPreviousStays" >
    <select id="is_previous_stay" (change)="extractedDataChanged()" name="is_previous_stay" [(ngModel)]="residenceData.isPreviousStays" class="custom-select"  [ngClass]="{'palceholder_selector': residenceData.isPreviousStays === ''}">
      <option value="" disabled selected>{{residence_labels.previous_stays_label}}</option>
      <option *ngFor="let yes_no_option of yes_no_options" [value]="yes_no_option">{{ yes_no_option }}</option>
    </select>
  </div>

  <label  *ngIf="isPreviousAddressInGermany()" >{{residence_labels.from_date_label}}</label>
  <div class="rounded-input-container" *ngIf="isPreviousAddressInGermany()" [class.filled]="residenceData.dateFrom" >
    <input class="rounded-input" (change)="extractedDataChanged()" type="date" name="previous_stay_from" id="previous_stay_from" [(ngModel)]="residenceData.dateFrom" placeholder="{{residence_labels.from_date_label}}">
  </div>

  <label  *ngIf="isPreviousAddressInGermany()" >{{residence_labels.to_date_label}}</label>
  <div class="rounded-input-container" *ngIf="isPreviousAddressInGermany()" [class.filled]="residenceData.dateTo" >
    <input class="rounded-input" (change)="extractedDataChanged()" type="date" name="previous_stay_to" id="previous_stay_to" [(ngModel)]="residenceData.dateTo" placeholder="{{residence_labels.to_date_label}}">
  </div>

  <label  *ngIf="isPreviousAddressInGermany()" >{{residence_labels.previous_stays_label}}</label>
  <div class="rounded-input-container" *ngIf="isPreviousAddressInGermany()" [class.filled]="residenceData.previousStayAddress" >
    <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="previous_stay_address" id="previous_stay_address" [(ngModel)]="residenceData.previousStayAddress" placeholder="{{residence_labels.previous_stays_label}}">
  </div>

  <label >{{residence_labels.residence_place_abroad_label}}</label>
  <div class="rounded-input-container" [class.filled]="residenceData.isResidenceAbroadRetained" >
    <select id="is_residence_abroad_retained" (change)="extractedDataChanged()" name="is_residence_abroad_retained" [(ngModel)]="residenceData.isResidenceAbroadRetained" class="custom-select"  [ngClass]="{'palceholder_selector': residenceData.isResidenceAbroadRetained === ''}">
      <option value="" disabled selected>{{residence_labels.residence_place_abroad_label}}</option>
      <option *ngFor="let yes_no_option of yes_no_options" [value]="yes_no_option">{{ yes_no_option }}</option>
    </select>
  </div>

  <label *ngIf="isAddressAbroadRetained()" >{{residence_labels.residence_place_abroad_label}}</label>
  <div class="rounded-input-container" *ngIf="isAddressAbroadRetained()" [class.filled]="residenceData.residenceAbroadIfRetained">
    <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="previous_stay_abroad_address" id="previous_stay_abroad_address" [(ngModel)]="residenceData.residenceAbroadIfRetained" placeholder="{{residence_labels.residence_place_abroad_label}}">
  </div>

  <hr>

  <div class="description">
    <p>
      The "end of semester" date on your document should 
      <br>
      be within your application period
    </p>
  </div>

  <div>
    <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openCertificateEnrollmentInput()">{{residence_labels.enrollment_certificate_button_label}} </button>
    <input id="enrollmentFileInput" (change)="extractedDataChanged()" hidden type="file" accept=".pdf, .jpeg, .png" (change)="enrollmentCertificateUpload($event)"><br>
    <span *ngIf="enrollmentCertificateFile" style="margin-left: 10px;">{{ enrollmentCertificateFile.name }}</span>
  </div>


  <div  style="display: flex; justify-content: center; margin-top: 2%">
    <mat-slide-toggle
      class="example-margin"
      color="warn"
      [checked]="isOverwriteSlideOn == true ? true : false"
      (change)="overWriteChanged( $event )"
    >
      Override
    </mat-slide-toggle>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 1%;">
    <button mat-stroked-button matStepperPrevious style="width: 15%;  margin: 1%;  background-color: rgb(212, 212, 212); color: #b42e29;">{{residence_labels.back_button_label}}</button>
    <button mat-stroked-button style="background-color: #a47371; color: white; width: 15%;  margin: 1%;"  (click)="saveData()" >Save</button>
    <button mat-stroked-button style="background-color: #b42e29; color: white; width: 15%;   margin: 1%;" [disabled]="isNextDisabled" (click)="residenceNextButtonClicked()" matStepperNext >{{residence_labels.next_button_label}}</button>        
  </div>
</form>

<ng-template #spinner>
  <!-- Spinner overlay -->
<div class="spinner-overlay" [ngClass]="{'custom-spinner-color': isDataLoading}">
  <mat-spinner color="white" ></mat-spinner>
</div>
</ng-template>