mail:
  mail-host: "smtp.gmail.com"
  mail-port: 465
  ssl-enable: true
  auth-enable: true

  sender-mail-address: "mail.adress.for.mail.sending@gmail.com"
  sender-password: ""
  abh-mail-address: "forworkmailchat@gmail.com"

ocr:
  passport-analysis-file-path: "OCR/PassportAnalitics.py"
  certificate-of-enrollment-analysis-file-path: "OCR/ImmatrikulationAnalitics.py"
  health-insurance-certificate-analysis-file-path: "OCR/Health_Analitics.py"
  working-contract-analysis-file-path: "OCR/WorkContract.py"
  blocked-account-analysis-file-path: "OCR/Geld.py"

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
