<form style="align-items: center; text-align: center; justify-content: center;">
    <h3  *ngIf="isPartnerDataNeeded()">Partner Data</h3>

    <label *ngIf="isPartnerDataNeeded()">{{fmailyLabels.partnerOrKidLastNames}}</label>
    <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerLastName" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="partner_last_name_field" id="partner_last_name_field" [(ngModel)]="familyData.partnerLastName" placeholder="{{fmailyLabels.partnerOrKidLastNames}}">
    </div>

    <label *ngIf="isPartnerDataNeeded()">{{fmailyLabels.partnerOrKidFirstName}}</label>
    <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerFirstName" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="partner_first_name_field" id="partner_first_name_field" [(ngModel)]="familyData.partnerFirstName" placeholder="{{fmailyLabels.partnerOrKidFirstName}}">
    </div>

    <label *ngIf="isPartnerDataNeeded()">{{familyData.partnerDateOfBirth}}</label>
    <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerDateOfBirth" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="date" name="partner_birth_date_field" id="partner_birth_date_field" [(ngModel)]="familyData.partnerDateOfBirth" placeholder="{{familyData.partnerDateOfBirth}}">
    </div>

    <label *ngIf="isPartnerDataNeeded()">{{fmailyLabels.partnerOrKidPlaceOfBirth}}</label>
    <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerPlaceOfBirth" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="partner_birth_place_field" id="partner_birth_place_field" [(ngModel)]="familyData.partnerPlaceOfBirth" placeholder="{{fmailyLabels.partnerOrKidPlaceOfBirth}}">
    </div>

    <label *ngIf="isPartnerDataNeeded()">{{fmailyLabels.partnerOrKidNationality}}</label>
    <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerNationality" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="partner_nationality_field" id="partner_nationality_field" [(ngModel)]="familyData.partnerNationality" placeholder="{{fmailyLabels.partnerOrKidNationality}}">
    </div>

    <label *ngIf="isPartnerDataNeeded()">{{fmailyLabels.partnerOrKidSex}}</label>
    <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerSex" >
      <select id="partner_sex" (change)="extractedDataChanged()" name="partner_sex" [(ngModel)]="familyData.partnerSex" class="custom-select"  [ngClass]="{'palceholder_selector': familyData.partnerSex === ''}">
        <option value="" disabled selected>{{fmailyLabels.partnerOrKidSex}}</option>
        <option *ngFor="let sex_option of sexOptions" [value]="sex_option">{{ sex_option }}</option>
      </select>
    </div>

    <label *ngIf="isPartnerDataNeeded()">{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}</label>
    <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerCurrentResidenceInGermany" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="partner_current_residence" id="partner_current_residence" [(ngModel)]="familyData.partnerCurrentResidenceInGermany" placeholder="{{familyData.partnerCurrentResidenceInGermany}}">
    </div>


    <label style="margin-top: 1%;">{{fmailyLabels.isChildrenAvailableQuestion}}</label>
    <div class="rounded-input-container" [class.filled]="familyData.isChildrenAvailable" >
      <select id="is_children_available" (change)="extractedDataChanged()" name="is_children_available" [(ngModel)]="familyData.isChildrenAvailable" class="custom-select"  [ngClass]="{'palceholder_selector': familyData.isChildrenAvailable === ''}">
        <option value="" disabled selected>{{fmailyLabels.isChildrenAvailableQuestion}}</option>
        <option *ngFor="let yes_no_option of yesNoOptions" [value]="yes_no_option">{{ yes_no_option }}</option>
      </select>
    </div>
    
    <label *ngIf="familyData.isChildrenAvailable === 'Yes'">{{fmailyLabels.partnerOrKidLastNames}}</label>
    <div *ngIf="familyData.isChildrenAvailable === 'Yes'">

      <div *ngFor="let child of familyData.childern; let i = index" class="rounded-input-container">
        <h3>{{fmailyLabels.childNo}}{{ i + 1}}</h3>
          <div class="rounded-input-container">
            <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="child_last_name_{{i}}" [(ngModel)]="child.lastName" placeholder="{{fmailyLabels.partnerOrKidLastNames}}">
      </div>

      <label >{{fmailyLabels.partnerOrKidFirstName}}</label>
      <div class="rounded-input-container">
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="child_first_name_{{i}}" [(ngModel)]="child.firstName" placeholder="{{fmailyLabels.partnerOrKidFirstName}}">
      </div>

      <label >{{fmailyLabels.partnerOrKidSex}}</label>
      <div class="rounded-input-container">
        <select id="child_sex_{{i}}" (change)="extractedDataChanged()" name="child_sex{{i}}" [(ngModel)]="child.sex" class="custom-select" [ngClass]="{'palceholder_selector': familyData.partnerSex === ''}">
          <option value="" disabled selected>{{fmailyLabels.partnerOrKidSex}}</option>
          <option *ngFor="let sex_option of sexOptions" [value]="sex_option">{{sex_option}}</option>
        </select>
      </div>

      <label >{{fmailyLabels.partnerOrKidBirthDate}}</label>
      <div class="rounded-input-container">
        <input class="rounded-input" (change)="extractedDataChanged()" type="date" name="child_birth_date_{{i}}" [(ngModel)]="child.dateOfBirth" placeholder="{{fmailyLabels.partnerOrKidBirthDate}}">
      </div>

      <label >{{fmailyLabels.partnerOrKidPlaceOfBirth}}</label>
      <div class="rounded-input-container"> 
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="child_birth_place_{{i}}" [(ngModel)]="child.placeOfBirth" placeholder="{{fmailyLabels.partnerOrKidPlaceOfBirth}}">
      </div>

      <label >{{fmailyLabels.partnerOrKidNationality}}</label>
      <div class="rounded-input-container">
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="child_nationality_{{i}}" [(ngModel)]="child.nationality" placeholder="{{fmailyLabels.partnerOrKidNationality}}">
      </div>

      <label >{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}</label>

      <div class="rounded-input-container">
        <input class="rounded-input" (change)="extractedDataChanged()"type="text" name="child_current_residence_{{i}}" [(ngModel)]="child.currentPlaceOfResidence" placeholder="{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}">
      </div>
    </div>
        <div style="display: flex; align-items: center;">
        <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="addChild()">{{fmailyLabels.addChildLabel}} </button></div>
      </div>
      <label >{{fmailyLabels.isFatherApplicable}}</label>
      <div class="rounded-input-container" [class.filled]="familyData.isFatherApplicable" >
        <select id="is_father_applicable" (change)="extractedDataChanged()" name="is_father_applicable" [(ngModel)]="familyData.isFatherApplicable" class="custom-select"  [ngClass]="{'palceholder_selector': familyData.isFatherApplicable === ''}">
          <option value="" disabled selected>{{fmailyLabels.isFatherApplicable}}</option>
          <option *ngFor="let yes_no_option of yesNoOptions" [value]="yes_no_option">{{ yes_no_option }}</option>
        </select>
      </div>

      <label *ngIf="familyData.isFatherApplicable == 'Yes'" >{{fmailyLabels.partnerOrKidLastNames}}</label>
      <div class="rounded-input-container" (change)="extractedDataChanged()" *ngIf="familyData.isFatherApplicable == 'Yes'" [class.filled]="familyData.fatherLastName" >
        <input class="rounded-input" type="text" name="father_last_name_field" id="father_last_name_field" [(ngModel)]="familyData.fatherLastName" placeholder="{{fmailyLabels.partnerOrKidLastNames}}">
      </div>

      <label *ngIf="familyData.isFatherApplicable == 'Yes'" >{{fmailyLabels.partnerOrKidFirstName}}</label>
      <div class="rounded-input-container" *ngIf="familyData.isFatherApplicable == 'Yes'" [class.filled]="familyData.fatherFisrtName" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="father_first_name_field" id="father_first_name_field" [(ngModel)]="familyData.fatherFisrtName" placeholder="{{fmailyLabels.partnerOrKidFirstName}}">
      </div>

      <label *ngIf="familyData.isFatherApplicable == 'Yes'" >{{fmailyLabels.partnerOrKidFirstName}}</label>
      <div class="rounded-input-container" *ngIf="familyData.isFatherApplicable == 'Yes'" [class.filled]="familyData.fatherNationality" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="father_nationality_field" id="father_nationality_field" [(ngModel)]="familyData.fatherNationality" placeholder="{{fmailyLabels.partnerOrKidNationality}}">
      </div>

      <label *ngIf="isMinorWithFather()">{{fmailyLabels.partnerOrKidPlaceOfBirth}}</label>
      <div class="rounded-input-container" *ngIf="isMinorWithFather() == true" [class.filled]="familyData.fatherPlaceOfBirthForMinors" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="father_place_birth_field" id="father_place_birth_field" [(ngModel)]="familyData.fatherPlaceOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidPlaceOfBirth}}">
      </div>

      <label *ngIf="isMinorWithFather()" >{{fmailyLabels.partnerOrKidBirthDate}}</label>
      <div class="rounded-input-container" *ngIf="isMinorWithFather() == true" [class.filled]="familyData.fatherDateOfBirthForMinors" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="date" name="father_date_birth_field" id="father_date_birth_field" [(ngModel)]="familyData.fatherDateOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidBirthDate}}">
      </div>

      <label *ngIf="isMinorWithFather()" >{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}</label>
      <div class="rounded-input-container" *ngIf="isMinorWithFather() == true" [class.filled]="familyData.fatherCurrentResidenceForMinors" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="date" name="father_current_residence_field" id="father_date_birth_field" [(ngModel)]="familyData.fatherDateOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}">
      </div>

      <label >{{fmailyLabels.isMotherApplicable}}</label>
      <div class="rounded-input-container" [class.filled]="familyData.isMotherApplicable" >
        <select id="is_father_applicable" (change)="extractedDataChanged()" name="is_mother_applicable" [(ngModel)]="familyData.isMotherApplicable" class="custom-select"  [ngClass]="{'palceholder_selector': familyData.isMotherApplicable === ''}">
          <option value="" disabled selected>{{fmailyLabels.isMotherApplicable}}</option>
          <option *ngFor="let yes_no_option of yesNoOptions" [value]="yes_no_option">{{ yes_no_option }}</option>
        </select>
      </div>

      <label *ngIf="familyData.isMotherApplicable == 'Yes'">{{fmailyLabels.partnerOrKidLastNames}}</label>
      <div class="rounded-input-container" *ngIf="familyData.isMotherApplicable == 'Yes'" [class.filled]="familyData.motherLastName" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="mother_last_name_field" id="mother_last_name_field" [(ngModel)]="familyData.motherLastName" placeholder="{{fmailyLabels.partnerOrKidLastNames}}">
      </div>

      <label *ngIf="familyData.isMotherApplicable == 'Yes'">{{fmailyLabels.partnerOrKidFirstName}}</label>
      <div class="rounded-input-container" *ngIf="familyData.isMotherApplicable == 'Yes'" [class.filled]="familyData.motherFisrtName" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="mother_first_name_field" id="mother_first_name_field" [(ngModel)]="familyData.motherFisrtName" placeholder="{{fmailyLabels.partnerOrKidFirstName}}">
      </div>

      <label *ngIf="familyData.isMotherApplicable == 'Yes'">{{fmailyLabels.partnerOrKidFirstName}}</label>
      <div class="rounded-input-container" *ngIf="familyData.isMotherApplicable == 'Yes'" [class.filled]="familyData.motherNationality" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="mother_nationality_field" id="mother_nationality_field" [(ngModel)]="familyData.motherNationality" placeholder="{{fmailyLabels.partnerOrKidNationality}}">
      </div>

      <label *ngIf="isMinorWithMother()">{{fmailyLabels.partnerOrKidPlaceOfBirth}}</label>
      <div class="rounded-input-container" *ngIf="isMinorWithMother()" [class.filled]="familyData.motherPlaceOfBirthForMinors" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="mother_place_birth_field" id="mother_place_birth_field" [(ngModel)]="familyData.motherPlaceOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidPlaceOfBirth}}">
      </div>

      <label *ngIf="isMinorWithMother()">{{fmailyLabels.partnerOrKidBirthDate}}</label>
      <div class="rounded-input-container" *ngIf="isMinorWithMother()" [class.filled]="familyData.motherDateOfBirthForMinors" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="date" name="mother_date_birth_field" id="mother_date_birth_field" [(ngModel)]="familyData.motherDateOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidBirthDate}}">
      </div>

      <label *ngIf="isMinorWithMother()">{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}</label>
      <div class="rounded-input-container" *ngIf="isMinorWithMother()" [class.filled]="familyData.motherCurrentResidenceForMinors" >
        <input class="rounded-input" (change)="extractedDataChanged()" type="date" name="mother_current_residence_field" id="mother_date_birth_field" [(ngModel)]="familyData.motherDateOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}">
      </div>
 
      <div style="display: flex; justify-content: center; margin-top: 1%;">
        <button mat-stroked-button matStepperPrevious style="width: 15%;  margin: 1%;  background-color: rgb(212, 212, 212); color: #b42e29;">{{fmailyLabels.back_button_label}}</button>
        <button mat-stroked-button style="background-color: #b42e29; color: white; width: 15%;   margin: 1%;"  (click)="familtNextClicked()" >{{fmailyLabels.next_button_label}}</button>        
        <button #hiddenButton hidden matStepperNext>Hidden Button</button>

      </div>
  </form>

 