

.mat-primary {
    background:   rgba(255, 255, 255, 0.7) !important;
  }

  mat-stepper{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    
  }
  input{
    background-color: rgba(255, 255, 255, 0.2);
  }

  .radio_btn_div{
    text-align: left;
}

  form{
    text-align: center;
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
  }

.card-container {
    /* Adjust the maximum width as needed */
    width: 80%; 
    margin: auto;
    margin-top: 50px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    background-color: rgba(255, 255, 255, 0.8);
        }
  
  
  .main_div{
          width: 100%;
          height: 80%;
          justify-content: center;
        }

.example-input-wrapper {
            margin-bottom: 10px;
          }

        
          
label {
            margin-right: 4px;
          }

          mat-form-field {
            display: block;
            margin-bottom: 5px; /* Adjust the margin as needed for spacing between radio buttons */
            margin-top: 5px;
            width: 50%;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.2);
          }

          md-input-container:not(.md-input-invalid).md-input-focused .md-input {
            border-color: red; 
        }
         
          
          