<div class="main_div">
<mat-card class="card-container">
    
    <mat-stepper [linear]="true"  #stepper>

        <mat-step   label="{{basicDataLabels.basic_data_label}}">
            <form >
              <div style="display: flex; align-items: center;">
                <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openPassportInput()">{{basicDataLabels.upload_passport_button_label}} </button>
              <input id="passportInput" hidden type="file" accept=".pdf, .jpeg, .png" (change)="passportUploaded($event)" >
              <span *ngIf="passportFile" style="margin-left: 10px;">{{ passportFile.name }}</span>
              </div>


              <div class="rounded-input-container" [class.filled]="basicData.first_name" >
                <input class="rounded-input" type="text" name="first_name_field" id="first_name_field" [(ngModel)]="basicData.first_name" placeholder="{{basicDataLabels.first_name_label}}">
                <label class="placeholder-label">{{basicDataLabels.first_name_label}}</label>
              </div>

              <div class="rounded-input-container" [class.filled]="basicData.last_name" >
                <input class="rounded-input" type="text" name="last_name_field" id="last_name_field" [(ngModel)]="basicData.last_name" placeholder="{{basicDataLabels.last_name_label}}">
                <label class="placeholder-label">{{basicDataLabels.last_name_label}}</label>
              </div>
          
              <div class="rounded-input-container" [class.filled]="basicData.birth_date" >
                <input class="rounded-input"  type="date" name="birth_date_field" id="birth_date_field" [(ngModel)]="basicData.birth_date" placeholder="{{basicDataLabels.birth_date_label}}">
                <label class="placeholder-label">{{basicDataLabels.birth_date_label}}</label>
              </div>

              <div class="rounded-input-container" [class.filled]="basicData.place_country" >
                <input class="rounded-input" type="text" name="place_birth_field" id="place_birth_field" [(ngModel)]="basicData.place_country" placeholder="{{basicDataLabels.place_birth_label}}">
                <label class="placeholder-label">{{basicDataLabels.place_birth_label}}</label>
              </div>

              <div class="rounded-input-container" [class.filled]="basicData.nationality" >
                <input class="rounded-input" type="text" name="nationality_field" id="nationality_field" [(ngModel)]="basicData.nationality" placeholder="{{basicDataLabels.nationality_label}}">
                <label class="placeholder-label">{{basicDataLabels.nationality_label}}</label>
              </div>

              <div class="rounded-input-container" [class.filled]="basicData.sex_type" >
                <select id="sex_selection" name="set_type" [(ngModel)]="basicData.sex_type" class="custom-select"  [ngClass]="{'palceholder_selector': basicData.sex_type === ''}">
                  <option value="" disabled selected>{{basicDataLabels.sex_label}}</option>
                  <option *ngFor="let sex_option of sexOptions" [value]="sex_option">{{ sex_option }}</option>
                </select>
                <label class="placeholder-label">{{basicDataLabels.sex_label}}</label>
              </div>

              <div class="rounded-input-container" [class.filled]="basicData.martial_type" >
                <select id="martial_selection" name="martial_type" [(ngModel)]="basicData.martial_type" class="custom-select"  [ngClass]="{'palceholder_selector': basicData.martial_type === ''}">
                  <option value="" disabled selected>{{basicDataLabels.martial_status_label}}</option>
                  <option *ngFor="let martial_type_option of martialOptions" [value]="martial_type_option">{{ martial_type_option }}</option>
                </select>
                <label class="placeholder-label">{{basicDataLabels.eyes_color_label}}</label>
              </div>
              
              <div class="rounded-input-container" *ngIf="isSinceNeededForMartialStatue()" [class.filled]="basicData.since" >
                <input class="rounded-input" type="date" name="since_field" id="since_field" [(ngModel)]="basicData.since" placeholder="{{basicDataLabels.since_label}}">
                <label class="placeholder-label">{{basicDataLabels.since_label}}</label>
              </div>
              
              
              <div class="rounded-input-container" [class.filled]="basicData.eyes_color" >
                <select id="eyes_selection" name="eye_color" [(ngModel)]="basicData.eyes_color" class="custom-select"  [ngClass]="{'palceholder_selector': basicData.eyes_color === ''}">
                  <option value="" disabled selected>{{basicDataLabels.eyes_color_label}}</option>
                  <option *ngFor="let eye_color of eyesOptions" [value]="eye_color">{{ eye_color }}</option>
                </select>
                <label class="placeholder-label">{{basicDataLabels.eyes_color_label}}</label>
              </div>

              <div class="rounded-input-container" [class.filled]="basicData.height" >
                <input class="rounded-input" type="number" [ngClass]="{'palceholder_selector': basicData.height === 0}" name="height_field" id="height_field" [(ngModel)]="basicData.height" placeholder="{{basicDataLabels.height_label}} ">
                <label class="placeholder-label">{{basicDataLabels.height_label}}</label>
              </div>

              <div class="rounded-input-container" [class.filled]="basicData.mobile" >
                <input class="rounded-input" type="number" name="mobile_field" id="mobile" [(ngModel)]="basicData.mobile" placeholder="{{basicDataLabels.mobile_label}}">
                <label class="placeholder-label">{{basicDataLabels.mobile_label}}</label>
              </div>

              <div class="rounded-input-container" [class.filled]="basicData.email" >
                <input class="rounded-input" type="email" name="email_field" id="email_field" [(ngModel)]="basicData['email']" placeholder="{{basicDataLabels.mail_label}}" email #emailInput="ngModel">
                <label class="placeholder-label">{{basicDataLabels.mail_label}}</label>
                <span *ngIf="emailInput.invalid" style="margin-left: 25px; color: red;">{{basicDataLabels.inValid_mail_label}}</span>

              </div>
              
              <div  style="display: flex; justify-content: right; margin-top: 5px;">
                <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" matStepperNext (click)="basicDataNextButtonClicked()" >{{basicDataLabels.next_button_label}}</button>
              </div>

            </form>
          </mat-step>




        <mat-step label="{{basicDataLabels.passport_label}}">
          <form>
            
            <div class="rounded-input-container" [class.filled]="passportData.passportNr" >
              <input class="rounded-input" type="text" name="passport_number_field" id="passport_number_field" [(ngModel)]="passportData.passportNr" placeholder="{{basicDataLabels.passoport_number}}">
              <label class="placeholder-label">{{basicDataLabels.passoport_number}}</label>
            </div>
            <div class="rounded-input-container" [class.filled]="passportData.valid_from" >
              <input class="rounded-input" type="date" name="passport_valid_from_field" id="passport_valid_from_field" [(ngModel)]="passportData.valid_from" placeholder="{{basicDataLabels.valid_from}}">
              <label class="placeholder-label">{{basicDataLabels.valid_from}}</label>
            </div>
            <div class="rounded-input-container" [class.filled]="passportData.valid_to" >
              <input class="rounded-input" type="date" name="passport_valid_to_field" id="passport_valid_to_field" [(ngModel)]="passportData.valid_to" placeholder="{{basicDataLabels.valid_to}}">
              <label class="placeholder-label">{{basicDataLabels.valid_to}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="passportData.issued_by" >
              <input class="rounded-input" type="text" name="passport_issued_by_field" id="passport_issued_by_field" [(ngModel)]="passportData.issued_by" placeholder="{{basicDataLabels.issued_by}}">
              <label class="placeholder-label">{{basicDataLabels.valid_to}}</label>
            </div>
            <div class="rounded-input-container" [class.filled]="passportData.issued_on" >
              <input class="rounded-input" type="text" name="passport_issued_on_field" id="passport_issued_by_field" [(ngModel)]="passportData.issued_on" placeholder="{{basicDataLabels.issued_on}}">
              <label class="placeholder-label">{{basicDataLabels.issued_on}}</label>
            </div>
              <div  style="display: flex; justify-content: right; margin-top: 15px;">
            <button mat-stroked-button matStepperPrevious style="margin-right: 10px; width: 20%;  background-color: white; color: #b42e29;">{{basicDataLabels.back_button_label}}</button>
              <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" matStepperNext (click)="passportNextButtonClicked()"> {{basicDataLabels.next_button_label}}</button>
            </div>
          </form>
        </mat-step>

        <mat-step label={{residence_labels.section_Label}}>
          <form>
            <div style="display: flex; align-items: center;">
              <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openRegistrationInput()">{{residence_labels.city_registration_document_upload_button_label}} </button>
            <input id="registrationFileInput" hidden type="file" accept=".pdf, .jpeg, .png" (change)="registrationUpload($event)">
            <span *ngIf="registrationFile" style="margin-left: 10px;">{{ registrationFile.name }}</span>
          </div>

            <div class="rounded-input-container" [class.filled]="residenceData.placeOfResidence" >
              <input class="rounded-input" type="text" name="residence_place_field" id="residence_place_field" [(ngModel)]="residenceData.placeOfResidence" placeholder="{{residence_labels.current_residence_in_germany_label}}">
              <label class="placeholder-label">{{residence_labels.residence_place_abroad_label}}</label>
            </div>
          
            <div class="rounded-input-container" [class.filled]="residenceData.isPreviousStays" >
              <select id="is_previous_stay" name="is_previous_stay" [(ngModel)]="residenceData.isPreviousStays" class="custom-select"  [ngClass]="{'palceholder_selector': residenceData.isPreviousStays === ''}">
                <option value="" disabled selected>{{residence_labels.previous_stays_label}}</option>
                <option *ngFor="let yes_no_option of yes_no_options" [value]="yes_no_option">{{ yes_no_option }}</option>
              </select>
              <label class="placeholder-label">{{residence_labels.previous_stays_label}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="isPreviousAddressInGermany()" [class.filled]="residenceData.dateFrom" >
              <input class="rounded-input" type="date" name="previous_stay_from" id="previous_stay_from" [(ngModel)]="residenceData.dateFrom" placeholder="{{residence_labels.from_date_label}}">
              <label class="placeholder-label">{{residence_labels.from_date_label}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="isPreviousAddressInGermany()" [class.filled]="residenceData.dateTo" >
              <input class="rounded-input" type="date" name="previous_stay_to" id="previous_stay_to" [(ngModel)]="residenceData.dateTo" placeholder="{{residence_labels.to_date_label}}">
              <label class="placeholder-label">{{residence_labels.to_date_label}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="isPreviousAddressInGermany()" [class.filled]="residenceData.previousStayAddress" >
              <input class="rounded-input" type="text" name="previous_stay_address" id="previous_stay_address" [(ngModel)]="residenceData.previousStayAddress" placeholder="{{residence_labels.previous_stays_label}}">
              <label class="placeholder-label">{{residence_labels.previous_stays_label}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="residenceData.isResidenceAbroadRetained" >
              <select id="is_residence_abroad_retained" name="is_residence_abroad_retained" [(ngModel)]="residenceData.isResidenceAbroadRetained" class="custom-select"  [ngClass]="{'palceholder_selector': residenceData.isResidenceAbroadRetained === ''}">
                <option value="" disabled selected>{{residence_labels.residence_place_abroad_label}}</option>
                <option *ngFor="let yes_no_option of yes_no_options" [value]="yes_no_option">{{ yes_no_option }}</option>
              </select>
              <label class="placeholder-label">{{residence_labels.residence_place_abroad_label}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="isAddressAbroadRetained()" [class.filled]="residenceData.residenceAbroadIfRetained">
              <input class="rounded-input" type="text" name="previous_stay_abroad_address" id="previous_stay_abroad_address" [(ngModel)]="residenceData.residenceAbroadIfRetained" placeholder="{{residence_labels.residence_place_abroad_label}}">
              <label class="placeholder-label">{{residence_labels.residence_place_abroad_label}}</label>
            </div>

            <div  style="display: flex; justify-content: right; margin-top: 15px;">
              <button mat-stroked-button matStepperPrevious style="margin-right: 10px; width: 20%;  background-color: white; color: #b42e29;">{{basicDataLabels.back_button_label}}</button>
              <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" matStepperNext (click)="passportNextButtonClicked()"> {{basicDataLabels.next_button_label}}</button>
            </div>
          </form>
        </mat-step>

        <!-- START OF FAMILY SECTION -->
        <mat-step label={{fmailyLabels.sectionLabel}}>
          <form>
            <h3 style="text-align: left;" *ngIf="isPartnerDataNeeded()">Partner Data</h3>

            <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerLastName" >
              <input class="rounded-input" type="text" name="partner_last_name_field" id="partner_last_name_field" [(ngModel)]="familyData.partnerLastName" placeholder="{{fmailyLabels.partnerOrKidLastNames}}">
              <label class="placeholder-label">{{fmailyLabels.partnerOrKidLastNames}}</label>
            </div>
            <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerFirstName" >
              <input class="rounded-input" type="text" name="partner_first_name_field" id="partner_first_name_field" [(ngModel)]="familyData.partnerFirstName" placeholder="{{fmailyLabels.partnerOrKidFirstName}}">
              <label class="placeholder-label">{{fmailyLabels.partnerOrKidFirstName}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerDateOfBirth" >
              <input class="rounded-input" type="date" name="partner_birth_date_field" id="partner_birth_date_field" [(ngModel)]="familyData.partnerDateOfBirth" placeholder="{{familyData.partnerDateOfBirth}}">
              <label class="placeholder-label">{{familyData.partnerDateOfBirth}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerPlaceOfBirth" >
              <input class="rounded-input" type="text" name="partner_birth_place_field" id="partner_birth_place_field" [(ngModel)]="familyData.partnerPlaceOfBirth" placeholder="{{fmailyLabels.partnerOrKidPlaceOfBirth}}">
              <label class="placeholder-label">{{fmailyLabels.partnerOrKidPlaceOfBirth}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerNationality" >
              <input class="rounded-input" type="text" name="partner_nationality_field" id="partner_nationality_field" [(ngModel)]="familyData.partnerNationality" placeholder="{{fmailyLabels.partnerOrKidNationality}}">
              <label class="placeholder-label">{{fmailyLabels.partnerOrKidNationality}}</label>
            </div>

          
            <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerSex" >
              <select id="partner_sex" name="partner_sex" [(ngModel)]="familyData.partnerSex" class="custom-select"  [ngClass]="{'palceholder_selector': familyData.partnerSex === ''}">
                <option value="" disabled selected>{{fmailyLabels.partnerOrKidSex}}</option>
                <option *ngFor="let sex_option of sexOptions" [value]="sex_option">{{ sex_option }}</option>
              </select>
              <label class="placeholder-label">{{fmailyLabels.partnerOrKidSex}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="isPartnerDataNeeded()" [class.filled]="familyData.partnerCurrentResidenceInGermany" >
              <input class="rounded-input" type="text" name="partner_current_residence" id="partner_current_residence" [(ngModel)]="familyData.partnerCurrentResidenceInGermany" placeholder="{{familyData.partnerCurrentResidenceInGermany}}">
              <label class="placeholder-label">{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}</label>
            </div>


            <div class="rounded-input-container" [class.filled]="familyData.isChildrenAvailable" >
              <select id="is_children_available" name="is_children_available" [(ngModel)]="familyData.isChildrenAvailable" class="custom-select"  [ngClass]="{'palceholder_selector': familyData.isChildrenAvailable === ''}">
                <option value="" disabled selected>{{fmailyLabels.isChildrenAvailableQuestion}}</option>
                <option *ngFor="let yes_no_option of yes_no_options" [value]="yes_no_option">{{ yes_no_option }}</option>
              </select>
              <label class="placeholder-label">{{fmailyLabels.isChildrenAvailableQuestion}}</label>
            </div>
            

<div *ngIf="familyData.isChildrenAvailable === 'Yes'">
  <div *ngFor="let child of familyData.childern; let i = index" class="rounded-input-container">
    <h3>{{fmailyLabels.childNo}}{{ i + 1}}</h3>
    <div class="rounded-input-container">
      <input class="rounded-input" type="text" name="child_last_name_{{i}}" [(ngModel)]="child.lastName" placeholder="{{fmailyLabels.partnerOrKidLastNames}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidLastNames}}</label>
    </div>
    <div class="rounded-input-container">
      <input class="rounded-input" type="text" name="child_first_name_{{i}}" [(ngModel)]="child.firstName" placeholder="{{fmailyLabels.partnerOrKidFirstName}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidFirstName}}</label>
    </div>
    <div class="rounded-input-container">
      <select id="child_sex_{{i}}" name="child_sex{{i}}" [(ngModel)]="child.sex" class="custom-select" [ngClass]="{'palceholder_selector': familyData.partnerSex === ''}">
        <option value="" disabled selected>{{fmailyLabels.partnerOrKidSex}}</option>
        <option *ngFor="let sex_option of sexOptions" [value]="sex_option">{{sex_option}}</option>
      </select>
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidSex}}</label>
    </div>

    <div class="rounded-input-container">
      <input class="rounded-input" type="date" name="child_birth_date_{{i}}" [(ngModel)]="child.dateOfBirth" placeholder="{{fmailyLabels.partnerOrKidBirthDate}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidBirthDate}}</label>
    </div>

    <div class="rounded-input-container">
      <input class="rounded-input" type="text" name="child_birth_place_{{i}}" [(ngModel)]="child.placeOfBirth" placeholder="{{fmailyLabels.partnerOrKidPlaceOfBirth}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidPlaceOfBirth}}</label>
    </div>

    <div class="rounded-input-container">
      <input class="rounded-input" type="text" name="child_nationality_{{i}}" [(ngModel)]="child.nationality" placeholder="{{fmailyLabels.partnerOrKidNationality}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidNationality}}</label>
    </div>

    <div class="rounded-input-container">
      <input class="rounded-input" type="text" name="child_current_residence_{{i}}" [(ngModel)]="child.currentPlaceOfResidence" placeholder="{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}</label>
    </div>
  </div>
  <div style="display: flex; align-items: center;">
    <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="addChild()">{{fmailyLabels.addChildLabel}} </button></div>
    </div>

    <div class="rounded-input-container" [class.filled]="familyData.isFatherApplicable" >
      <select id="is_father_applicable" name="is_father_applicable" [(ngModel)]="familyData.isFatherApplicable" class="custom-select"  [ngClass]="{'palceholder_selector': familyData.isFatherApplicable === ''}">
        <option value="" disabled selected>{{fmailyLabels.isFatherApplicable}}</option>
        <option *ngFor="let yes_no_option of yes_no_options" [value]="yes_no_option">{{ yes_no_option }}</option>
      </select>
      <label class="placeholder-label">{{fmailyLabels.isFatherApplicable}}</label>
    </div>

    <div class="rounded-input-container" *ngIf="familyData.isFatherApplicable" [class.filled]="familyData.fatherLastName" >
      <input class="rounded-input" type="text" name="father_last_name_field" id="father_last_name_field" [(ngModel)]="familyData.fatherLastName" placeholder="{{fmailyLabels.partnerOrKidLastNames}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidLastNames}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="familyData.isFatherApplicable" [class.filled]="familyData.fatherFisrtName" >
      <input class="rounded-input" type="text" name="father_first_name_field" id="father_first_name_field" [(ngModel)]="familyData.fatherFisrtName" placeholder="{{fmailyLabels.partnerOrKidFirstName}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidFirstName}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="familyData.isFatherApplicable" [class.filled]="familyData.fatherNationality" >
      <input class="rounded-input" type="text" name="father_nationality_field" id="father_nationality_field" [(ngModel)]="familyData.fatherNationality" placeholder="{{fmailyLabels.partnerOrKidNationality}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidFirstName}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="isMinorWithFather()" [class.filled]="familyData.fatherPlaceOfBirthForMinors" >
      <input class="rounded-input" type="text" name="father_place_birth_field" id="father_place_birth_field" [(ngModel)]="familyData.fatherPlaceOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidPlaceOfBirth}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidPlaceOfBirth}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="isMinorWithFather()" [class.filled]="familyData.fatherDateOfBirthForMinors" >
      <input class="rounded-input" type="date" name="father_date_birth_field" id="father_date_birth_field" [(ngModel)]="familyData.fatherDateOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidBirthDate}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidBirthDate}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="isMinorWithFather()" [class.filled]="familyData.fatherCurrentResidenceForMinors" >
      <input class="rounded-input" type="date" name="father_current_residence_field" id="father_date_birth_field" [(ngModel)]="familyData.fatherDateOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}</label>
    </div>

    <div class="rounded-input-container" [class.filled]="familyData.isMotherApplicable" >
      <select id="is_father_applicable" name="is_mother_applicable" [(ngModel)]="familyData.isMotherApplicable" class="custom-select"  [ngClass]="{'palceholder_selector': familyData.isMotherApplicable === ''}">
        <option value="" disabled selected>{{fmailyLabels.isMotherApplicable}}</option>
        <option *ngFor="let yes_no_option of yes_no_options" [value]="yes_no_option">{{ yes_no_option }}</option>
      </select>
      <label class="placeholder-label">{{fmailyLabels.isMotherApplicable}}</label>
    </div>

    <div class="rounded-input-container" *ngIf="familyData.isMotherApplicable" [class.filled]="familyData.motherLastName" >
      <input class="rounded-input" type="text" name="mother_last_name_field" id="mother_last_name_field" [(ngModel)]="familyData.motherLastName" placeholder="{{fmailyLabels.partnerOrKidLastNames}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidLastNames}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="familyData.isMotherApplicable" [class.filled]="familyData.motherFisrtName" >
      <input class="rounded-input" type="text" name="mother_first_name_field" id="mother_first_name_field" [(ngModel)]="familyData.motherFisrtName" placeholder="{{fmailyLabels.partnerOrKidFirstName}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidFirstName}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="familyData.isMotherApplicable" [class.filled]="familyData.motherNationality" >
      <input class="rounded-input" type="text" name="mother_nationality_field" id="mother_nationality_field" [(ngModel)]="familyData.motherNationality" placeholder="{{fmailyLabels.partnerOrKidNationality}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidFirstName}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="isMinorWithMother()" [class.filled]="familyData.motherPlaceOfBirthForMinors" >
      <input class="rounded-input" type="text" name="mother_place_birth_field" id="mother_place_birth_field" [(ngModel)]="familyData.motherPlaceOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidPlaceOfBirth}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidPlaceOfBirth}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="isMinorWithMother()" [class.filled]="familyData.motherDateOfBirthForMinors" >
      <input class="rounded-input" type="date" name="mother_date_birth_field" id="mother_date_birth_field" [(ngModel)]="familyData.motherDateOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidBirthDate}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidBirthDate}}</label>
    </div>
    <div class="rounded-input-container" *ngIf="isMinorWithMother()" [class.filled]="familyData.motherCurrentResidenceForMinors" >
      <input class="rounded-input" type="date" name="mother_current_residence_field" id="mother_date_birth_field" [(ngModel)]="familyData.motherDateOfBirthForMinors" placeholder="{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}">
      <label class="placeholder-label">{{fmailyLabels.partnerOrKidCurrentPlaceOfResidence}}</label>
    </div>

    <div  style="display: flex; justify-content: right; margin-top: 15px;">
      <button mat-stroked-button matStepperPrevious style="margin-right: 10px; width: 20%;  background-color: white; color: #b42e29;">{{basicDataLabels.back_button_label}}</button>
      <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" matStepperNext (click)="familyNextButtonClicked()"> {{basicDataLabels.next_button_label}}</button>
    </div>  
          </form>

        </mat-step>

        <mat-step label={{stayLabels.section_label}}>
          <form>
            
            <div style="display: flex; align-items: center;">
              <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openVisaInput()">{{stayLabels.upload_entry_visa_document}} </button>
            <input id="visaFileInput" hidden type="file" accept=".pdf, .jpeg, .png" (change)="visaUpload($event)">
            <span *ngIf="visaFile" style="margin-left: 10px;">{{ visaFile.name }}</span>
           </div>

            <div class="rounded-input-container" [class.filled]="stayData.lastEntryDate" >
              <input class="rounded-input" type="date" name="entry_date_field" id="entry_date_field" [(ngModel)]="stayData.lastEntryDate" placeholder="{{stayData.lastEntryDate}}">
              <label class="placeholder-label">{{stayLabels.last_entry_date}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="stayData.lastEntryVisaType" >
              <select id="last_entry_type" name="ilast_entry_type" [(ngModel)]="stayData.lastEntryVisaType" class="custom-select"  [ngClass]="{'palceholder_selector': stayData.lastEntryVisaType === ''}">
                <option value="" disabled selected>{{stayLabels.entry_visa_type_label}}</option>
                <option *ngFor="let enrty_visa_option of lastEntryTypeOptions" [value]="enrty_visa_option">{{ enrty_visa_option }}</option>
              </select>
              <label class="placeholder-label">{{stayLabels.entry_visa_type_label}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="stayData.visaIssueBy" >
              <input class="rounded-input" type="text" name="visa_issue_by_field" id="visa_issue_by_field" [(ngModel)]="stayData.visaIssueBy" placeholder="{{stayLabels.visa_issue_by_label}}">
              <label class="placeholder-label">{{stayLabels.visa_issue_by_label}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="stayData.visaIssueOn" >
              <input class="rounded-input" type="date" name="visa_issue_on_field" id="visa_issue_on_field" [(ngModel)]="stayData.visaIssueOn" placeholder="{{stayLabels.visa_issue_on_label}}">
              <label class="placeholder-label">{{stayLabels.visa_issue_on_label}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="stayData.visaNumber" >
              <input class="rounded-input" type="text" name="visa_number_field" id="visa_number_field" [(ngModel)]="stayData.visaNumber" placeholder="{{stayLabels.visa_number_label}}">
              <label class="placeholder-label">{{stayLabels.visa_number_label}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="stayData.visaValidFrom" >
              <input class="rounded-input" type="date" name="visa_valid_from_field" id="visa_valid_from_field" [(ngModel)]="stayData.visaValidFrom" placeholder="{{stayLabels.visa_valid_from_label}}">
              <label class="placeholder-label">{{stayLabels.visa_valid_from_label}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="stayData.visaValidTo" >
              <input class="rounded-input" type="date" name="visa_valid_to_field" id="visa_valid_to_field" [(ngModel)]="stayData.visaValidTo" placeholder="{{stayLabels.visa_valid_to_label}}">
              <label class="placeholder-label">{{stayLabels.visa_valid_to_label}}</label>
            </div>
            <div class="rounded-input-container" [class.filled]="stayData.lengthOfStay" >
              <input class="rounded-input" type="number" name="length_of_length_field" id="length_of_stay_field" [(ngModel)]="stayData.lengthOfStay" placeholder="{{stayLabels.visa_length_of_stay}}">
              <label class="placeholder-label">{{stayLabels.visa_length_of_stay}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="stayData.purposeOfStay" >
              <select id="purpose_of_stay_type" name="purpose_of_stay_type" [(ngModel)]="stayData.purposeOfStay" class="custom-select"  [ngClass]="{'palceholder_selector': stayData.purposeOfStay === ''}">
                <option value="" disabled selected>{{stayLabels.purpose_of_stay_label}}</option>
                <option *ngFor="let stayPurposeOption of stayPurposeOptions" [value]="stayPurposeOption">{{ stayPurposeOption }}</option>
              </select>
              <label class="placeholder-label">{{stayLabels.entry_visa_type_label}}</label>
            </div>


            <div  style="display: flex; justify-content: right; margin-top: 15px;">
                <button mat-stroked-button matStepperPrevious style="margin-right: 10px; width: 20%;  background-color: white; color: #b42e29;">{{basicDataLabels.back_button_label}}</button>
                <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" matStepperNext (click)="staySectionButtonClicked()"> {{basicDataLabels.next_button_label}}</button>
            </div> 

          </form>
        </mat-step>

    <!-- Financial support Section  -->

        <mat-step label={{supportLabels.section_label}}>
          <form>
            
            <div class="rounded-input-container" style="margin-top: 30px;" [class.filled]="meansOfSupportData.meansOfSupport" >
              <input class="rounded-input" type="text" name="means_support_field" id="means_support_field" [(ngModel)]="meansOfSupportData.meansOfSupport" placeholder="{{supportLabels.support_question_label}}">
              <label class="placeholder-label">{{supportLabels.support_question_label}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="meansOfSupportData.isSecondOrTwelfth" >
              <select id="is_Second_or_twelfth" name="is_Second_or_twelfth" [(ngModel)]="meansOfSupportData.isSecondOrTwelfth" class="custom-select"  [ngClass]="{'palceholder_selector': meansOfSupportData.isSecondOrTwelfth === ''}">
                <option value="" disabled selected>{{supportLabels.second_or_twelfth_Book_of_code_question_label}}</option>
                <option *ngFor="let isSecondOrTwelfthYesOrNoOption of yesNoOptions" [value]="isSecondOrTwelfthYesOrNoOption">{{ isSecondOrTwelfthYesOrNoOption }}</option>
              </select>
              <label *ngIf="meansOfSupportData.isSecondOrTwelfth != '' " class="placeholder-label">{{supportLabels.second_or_twelfth_Book_of_code_question_label}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="meansOfSupportData.isSecondOrTwelfth == supportLabels.yes_option" [class.filled]="meansOfSupportData.supportTyeIfYes" >
              <select id="supportType" name="supportType" [(ngModel)]="meansOfSupportData.supportTyeIfYes" class="custom-select"  [ngClass]="{'palceholder_selector': meansOfSupportData.supportTyeIfYes === ''}">
                <option value="" disabled selected>{{supportLabels.code_of_social_law_question}}</option>
                <option *ngFor="let codeOfSocialLaw of codeOfSocialLawOptions" [value]="codeOfSocialLaw">{{ codeOfSocialLaw }}</option>
              </select>
              <label class="placeholder-label">{{supportLabels.code_of_social_law_question}}</label>
            </div>

            <div class="rounded-input-container" [class.filled]="meansOfSupportData.isInsuranceAvailable" >
              <select id="is_insurance_available" name="is_insurance_available" [(ngModel)]="meansOfSupportData.isInsuranceAvailable" class="custom-select"  [ngClass]="{'palceholder_selector': meansOfSupportData.isInsuranceAvailable === ''}">
                <option value="" disabled selected>{{supportLabels.insurance_question}}</option>
                <option *ngFor="let isInsuranceAvailableOption of yesNoOptions" [value]="isInsuranceAvailableOption">{{ isInsuranceAvailableOption }}</option>
              </select>
              <label *ngIf="meansOfSupportData.isInsuranceAvailable" class="placeholder-label">{{supportLabels.insurance_question}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="meansOfSupportData.isInsuranceAvailable == supportLabels.yes_option" [class.filled]="meansOfSupportData.insuranceCompany" >
              <input class="rounded-input" type="text" name="insurance_company" id="insurance_company" [(ngModel)]="meansOfSupportData.insuranceCompany" placeholder="{{supportLabels.insurance_company_label}}">
              <label  class="placeholder-label">{{supportLabels.insurance_company_label}}</label>
            </div>

            <div *ngIf="meansOfSupportData.isInsuranceAvailable  == supportLabels.yes_option" style="display: flex; align-items: center;">
              <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openInsuranceInput()">{{supportLabels.upload_insurace_document}} </button>
            <input id="insuranceFileInput" hidden type="file" accept=".pdf, .jpeg, .png" (change)="insuranceUpload($event)">
            <span *ngIf="insuranceFile" style="margin-left: 10px;">{{ insuranceFile.name }}</span>
           </div>
            

           <div *ngFor="let doc of financialSupportFiles let docIndex = index" class="rounded-input-container">

              <div class="rounded-input-container" [class.filled]="financialSupportFiles[docIndex].fileType" >
                <select id="financialsupprtType{{docIndex}}" name="financialsupprtType{{docIndex}}" [(ngModel)]="financialSupportFiles[docIndex].fileType" class="custom-select"  [ngClass]="{'palceholder_selector': financialSupportFiles[docIndex].fileType === ''}">
                  <option value="" disabled selected>{{supportLabels.financial_support_options_question}}</option>
                  <option *ngFor="let financialSupportOption of financialSupportOptions" [value]="financialSupportOption">{{ financialSupportOption }}</option>
                </select>
                <label  class="placeholder-label">{{supportLabels.financial_support_options_question}}</label>
              </div>
              <div style="display: flex; align-items: center;">
                <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openFinancialSupportInput(docIndex)">{{supportLabels.upload_financial_support_document_button_label}} </button>
              <input id="financialSupportInput{{docIndex}}" hidden type="file" accept=".pdf, .jpeg, .png" (change)="financialSupportUploaded($event, docIndex)" >
              <span *ngIf="financialSupportFiles[docIndex]" style="margin-left: 10px;">{{ financialSupportFiles[docIndex].file?.name }}</span>

            </div>

          </div>

          <div style="display: flex; align-items: center;">
            <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="addNewFinancialSupport()">{{supportLabels.add_new_financial_support_document_button_label}} </button>
          </div>


          <div class="rounded-input-container" [class.filled]="meansOfSupportData.finalValueOfFinancialSupport" >
            <input class="rounded-input" type="number" name="final_financial_documents_value" id="final_financial_documents_value" [(ngModel)]="meansOfSupportData.finalValueOfFinancialSupport" placeholder="{{supportLabels.finalFinancialValueLabel}}">
            <label  class="placeholder-label">{{supportLabels.finalFinancialValueLabel}}</label>
           </div>

           


            <div  style="display: flex; justify-content: right; margin-top: 15px;">
                <button mat-stroked-button matStepperPrevious style="margin-right: 10px; width: 20%;  background-color: white; color: #b42e29;">{{basicDataLabels.back_button_label}}</button>
                <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" matStepperNext (click)="nextSupportClicked()"> {{basicDataLabels.next_button_label}}</button>
            </div> 

          </form>
        </mat-step>


    <!-- Offences Section  -->

        <mat-step label={{offencesLabel.section_label}}>
          <form>
            
            

            <div class="rounded-input-container" [class.filled]="offencesData.isConvicted" >
              <select id="is_convinced" name="is_convinced" [(ngModel)]="offencesData.isConvicted" class="custom-select"  [ngClass]="{'palceholder_selector': offencesData.isConvicted === ''}">
                <option value="" disabled selected>{{offencesLabel.conviction_question_label}}</option>
                <option *ngFor="let isConvincedOption of yesNoOptions" [value]="isConvincedOption">{{ isConvincedOption }}</option>
              </select>
              <label *ngIf="offencesData.isConvicted != '' " class="placeholder-label">{{offencesLabel.conviction_question_label}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="offencesData.isConvicted == supportLabels.yes_option" [class.filled]="offencesData.convictionPlace" >
              <select id="convinced_place" name="convinced_place" [(ngModel)]="offencesData.convictionPlace" class="custom-select"  [ngClass]="{'palceholder_selector': offencesData.convictionPlace === ''}">
                <option value="" disabled selected>{{offencesLabel.placeOfoffenceLabel}}</option>
                <option *ngFor="let convincedPlaceOption of placesOptions" [value]="convincedPlaceOption">{{ convincedPlaceOption }}</option>
              </select>
              <label *ngIf="offencesData.convictionPlace != '' " class="placeholder-label">{{offencesLabel.placeOfoffenceLabel}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="offencesData.isConvicted == supportLabels.yes_option" [class.filled]="offencesData.convictionReason" >
              <input class="rounded-input" type="text" name="convinced_reason" id="convinced_reason" [(ngModel)]="offencesData.convictionReason" placeholder="{{offencesLabel.offenceReasonLabel}}">
              <label  *ngIf="offencesData.convictionReason != '' " class="placeholder-label">{{offencesLabel.offenceReasonLabel}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="offencesData.isConvicted == supportLabels.yes_option" [class.filled]="offencesData.convictionTypeAndamount" >
              <input class="rounded-input" type="text" name="convinced_type" id="convinced_type" [(ngModel)]="offencesData.convictionTypeAndamount" placeholder="{{offencesLabel.typeAndAmountForOffenceLabel}}">
              <label  *ngIf="offencesData.convictionTypeAndamount != '' " class="placeholder-label">{{offencesLabel.typeAndAmountForOffenceLabel}}</label>
            </div>


            <div class="rounded-input-container" [class.filled]="offencesData.isUnderInvestigation" >
              <select id="is_under_investigation" name="is_under_investigation" [(ngModel)]="offencesData.isUnderInvestigation" class="custom-select"  [ngClass]="{'palceholder_selector': offencesData.isUnderInvestigation === ''}">
                <option value="" disabled selected>{{offencesLabel.underInvestigationQuestion}}</option>
                <option *ngFor="let isUnderInvestigationOption of yesNoOptions" [value]="isUnderInvestigationOption">{{ isUnderInvestigationOption }}</option>
              </select>
              <label *ngIf="offencesData.isUnderInvestigation != '' " class="placeholder-label">{{offencesLabel.underInvestigationQuestion}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="offencesData.isUnderInvestigation == supportLabels.yes_option" [class.filled]="offencesData.investigationPlace" >
              <select id="investigation_place" name="investigation_place" [(ngModel)]="offencesData.investigationPlace" class="custom-select"  [ngClass]="{'palceholder_selector': offencesData.investigationPlace === ''}">
                <option value="" disabled selected>{{offencesLabel.placeOfInvestigationLabel}}</option>
                <option *ngFor="let investigationPlaceOption of placesOptions" [value]="investigationPlaceOption">{{ investigationPlaceOption }}</option>
              </select>
              <label *ngIf="offencesData.convictionPlace != '' " class="placeholder-label">{{offencesLabel.placeOfInvestigationLabel}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="offencesData.isUnderInvestigation == supportLabels.yes_option" [class.filled]="offencesData.investigationAuthority" >
              <input class="rounded-input" type="text" name="investigation_authority" id="investigation_authority" [(ngModel)]="offencesData.investigationAuthority" placeholder="{{offencesLabel.investigationAuthorityLabel}}">
              <label  *ngIf="offencesData.investigationAuthority != '' " class="placeholder-label">{{offencesLabel.investigationAuthorityLabel}}</label>
            </div>
            

            <div class="rounded-input-container" [class.filled]="offencesData.isExpelledOrDeported" >
              <select id="is_deported" name="is_deported" [(ngModel)]="offencesData.isExpelledOrDeported" class="custom-select"  [ngClass]="{'palceholder_selector': offencesData.isExpelledOrDeported === ''}">
                <option value="" disabled selected>{{offencesLabel.deportationQuestionLabel}}</option>
                <option *ngFor="let isDeportedOption of yesNoOptions" [value]="isDeportedOption">{{ isDeportedOption }}</option>
              </select>
              <label *ngIf="offencesData.isExpelledOrDeported != '' " class="placeholder-label">{{offencesLabel.deportationQuestionLabel}}</label>
            </div>

            

            <div class="rounded-input-container" *ngIf="offencesData.isExpelledOrDeported == supportLabels.yes_option" [class.filled]="offencesData.expelledFrom" >
              <input class="rounded-input" type="text" name="expelled_from" id="expelled_from" [(ngModel)]="offencesData.expelledFrom" placeholder="{{offencesLabel.fromLabel}}">
              <label  *ngIf="offencesData.expelledFrom != '' " class="placeholder-label">{{offencesLabel.fromLabel}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="offencesData.isExpelledOrDeported == supportLabels.yes_option" [class.filled]="offencesData.expelledOn" >
              <input class="rounded-input" type="date" name="expelled_on" id="expelled_on" [(ngModel)]="offencesData.expelledOn" placeholder="{{offencesLabel.onLabel}}">
              <label class="placeholder-label">{{offencesLabel.onLabel}}</label>
            </div>


            <div class="rounded-input-container" [class.filled]="offencesData.isEntryApplicationRejected" >
              <select id="is_entry_rejected" name="is_entry_rejected" [(ngModel)]="offencesData.isEntryApplicationRejected" class="custom-select"  [ngClass]="{'palceholder_selector': offencesData.isEntryApplicationRejected === ''}">
                <option value="" disabled selected>{{offencesLabel.entryRejectionQuestion}}</option>
                <option *ngFor="let isEntryRejectedOption of yesNoOptions" [value]="isEntryRejectedOption">{{ isEntryRejectedOption }}</option>
              </select>
              <label *ngIf="offencesData.isEntryApplicationRejected != '' " class="placeholder-label">{{offencesLabel.entryRejectionQuestion}}</label>
            </div>

            

            <div class="rounded-input-container" *ngIf="offencesData.isEntryApplicationRejected == supportLabels.yes_option" [class.filled]="offencesData.expelledFrom" >
              <input class="rounded-input" type="text" name="entry_rejected_from" id="entry_rejected_from" [(ngModel)]="offencesData.entryRejectedFrom" placeholder="{{offencesLabel.fromLabel}}">
              <label  *ngIf="offencesData.entryRejectedFrom != '' " class="placeholder-label">{{offencesLabel.fromLabel}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="offencesData.isEntryApplicationRejected == supportLabels.yes_option" [class.filled]="offencesData.entyRejectedOn" >
              <input class="rounded-input" type="date" name="entry_rejected_on" id="entry_rejected_on" [(ngModel)]="offencesData.entyRejectedOn" placeholder="{{offencesLabel.onLabel}}">
              <label class="placeholder-label">{{offencesLabel.onLabel}}</label>
            </div>


            <div class="rounded-input-container" [class.filled]="offencesData.isResidenceApplicationRejected" >
              <select id="is_entry_rejected" name="is_entry_rejected" [(ngModel)]="offencesData.isResidenceApplicationRejected" class="custom-select"  [ngClass]="{'palceholder_selector': offencesData.isEntryApplicationRejected === ''}">
                <option value="" disabled selected>{{offencesLabel.residenceRejectionQuestion}}</option>
                <option *ngFor="let isResidenceRejectedOption of yesNoOptions" [value]="isResidenceRejectedOption">{{ isResidenceRejectedOption }}</option>
              </select>
              <label *ngIf="offencesData.isResidenceApplicationRejected != '' " class="placeholder-label">{{offencesLabel.residenceRejectionQuestion}}</label>
            </div>

            

            <div class="rounded-input-container" *ngIf="offencesData.isResidenceApplicationRejected == supportLabels.yes_option" [class.filled]="offencesData.residenceRejectedFrom" >
              <input class="rounded-input" type="text" name="residence_rejected_from" id="residence_rejected_from" [(ngModel)]="offencesData.residenceRejectedFrom" placeholder="{{offencesLabel.fromLabel}}">
              <label  *ngIf="offencesData.residenceRejectedFrom != '' " class="placeholder-label">{{offencesLabel.fromLabel}}</label>
            </div>

            <div class="rounded-input-container" *ngIf="offencesData.isResidenceApplicationRejected == supportLabels.yes_option" [class.filled]="offencesData.residenceRejectedOn" >
              <input class="rounded-input" type="date" name="residence_rejected_on" id="residence_rejected_on" [(ngModel)]="offencesData.residenceRejectedOn" placeholder="{{offencesLabel.onLabel}}">
              <label class="placeholder-label">{{offencesLabel.onLabel}}</label>
            </div>
            
            


            <div  style="display: flex; justify-content: right; margin-top: 15px;">
                <button mat-stroked-button matStepperPrevious style="margin-right: 10px; width: 20%;  background-color: white; color: #b42e29;">{{basicDataLabels.back_button_label}}</button>
                <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" matStepperNext (click)="nextSupportClicked()"> {{basicDataLabels.next_button_label}}</button>
            </div> 

          </form>
        </mat-step>



        <mat-step label={{photoLabels.section_label}}>

          <div style="display: flex; align-items: center;">
            <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openPhotoInput()">{{photoLabels.photo_button_label}} </button>
            <input id="photoFileInput" hidden type="file" accept=".pdf, .jpeg, .png" (change)="photoUpload($event)">
            <span *ngIf="photoFile" style="margin-left: 10px;">{{ photoFile.name }}</span>
          </div>
        
          <div  style="display: flex; justify-content: right; margin-top: 15px;">
            <button mat-stroked-button matStepperPrevious style="margin-right: 10px; width: 20%; background-color: white ;color: #b42e29;">{{basicDataLabels.back_button_label}}</button>
            <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" >{{basicDataLabels.next_button_label}}</button>
          </div>
        </mat-step>

      <mat-step label="Done">
        
        <p>You are now done.</p>
        <div  style="display: flex; justify-content: right; margin-top: 15px;">
          <button mat-stroked-button matStepperPrevious style="margin-right: 10px; width: 20%; background-color: white ;color: #b42e29;">Back</button>
          <button mat-stroked-button style="background-color: #b42e29; color: white; width: 20%;" (click)="stepper.reset()">Preview</button>
        </div>
      </mat-step>
    </mat-stepper>
    </mat-card>
</div>
  