<div class="main_div">
<mat-card class="card-container">
    
    <mat-stepper [linear]="true"  #stepper>

        <mat-step matTooltip="{{stepperLabels.basic_data_label}}" label="{{stepperLabels.basic_data_label}}">
          <app-basic-data></app-basic-data>
        </mat-step>

        <mat-step label={{stepperLabels.family_label}}>
          <app-family-data></app-family-data>
        </mat-step> 

        <mat-step label={{stepperLabels.residence_Label}}>
          <app-residence-data></app-residence-data>
        </mat-step>

        <mat-step label={{stepperLabels.stay_label}}>
          <app-stay-data></app-stay-data>
        </mat-step>

        <mat-step label={{stepperLabels.support_label}}>
          <app-financial-support-data></app-financial-support-data>
        </mat-step>

        <mat-step label={{stepperLabels.offence_label}}>
          <app-offence-data></app-offence-data>
        </mat-step>

        <mat-step label={{stepperLabels.photo_label}}>
          <app-photo-data></app-photo-data>  
        </mat-step>

        <mat-step label={{stepperLabels.additional_documents_label}}>
          <app-adiitional-documents></app-adiitional-documents>
        </mat-step>

        <mat-step label="{{stepperLabels.done_label}}">
          <app-done></app-done>
        </mat-step>
    </mat-stepper>
</mat-card>
</div>
  