<div class="main_div">
    
    <mat-card class="card-container">
      <h1 style="color: #b42e29;">Guide</h1>
      <p>
        If you come to Germany to study and live here, you will have to go through some bureaucratic and administrative steps along the way.
        Which pieces of paperwork you need depends on your nationality.
    </p>
    
    <h2>Three Essential Steps</h2>
    
    <ol>
        <li>
            <strong>Visa:</strong> The permission to enter Germany for a defined purpose and a certain amount of time.
            Before that time runs out, you will have to apply for a <a href="https://www.uni-passau.de/en/immigration-formalities/how-to-get-a-student-visa-for-germany">residence permit</a> if you need to stay longer.
        </li>
        
        <li>
            <strong>Residence Registration:</strong> In Germany, it is compulsory for all people to register with the local authorities where they live,
            as soon as they have moved into their accommodation. Learn more about <a href="https://www.uni-passau.de/en/immigration-formalities/residence-registration">residence registration</a>.
        </li>
        
        <li>
            <strong>Residence Permit:</strong> The permission to live in Germany for a specified amount of time.
            Get detailed information about <a href="https://www.uni-passau.de/en/immigration-formalities/residence-permit-for-international-students-in-germany">residence permits</a>.
        </li>
    </ol>

    <h2>How to navigate through the system</h2>

    <div>
        <p> Any changes that may occure, will trigger the appearance of the following pop-up</p>
        
       

            <img src="assets/save.png" alt="" style="width:50%; height: 15%;">

       
        

        <p> This pop-up will only go away if you presse the <b>Save button</b> </p>

        <p> After any changes, modifications and / or new inputs have been entered, you need to click on this button</p>

        <button mat-stroked-button style="background-color: #a47371; color: white; width: 15%;  margin: 1%;" >Save</button>

        <p> After you are done modifying everything and you want to go to the next page, you can press on the following button <b>Next button</b> </p>

        <button mat-stroked-button style="background-color: #b42e29; color: white; width: 15%;   margin: 1%;"  >Next</button>
        <br>

        <b> Be aware that: </b>

        <p> If you want to go the next page even if some or all the input fields are empty in one page, you need to enable the <b> Override </b> option and then save again </p>

        <mat-slide-toggle color="warn" > Override </mat-slide-toggle>
    </div>
    
    <h2>Useful Links</h2>
    
    <ul>
        <li><a href="https://www.uni-passau.de/en/immigration-formalities/how-to-get-a-student-visa-for-germany">Visa Information</a></li>
        <li><a href="https://www.uni-passau.de/en/immigration-formalities/residence-registration">Residence Registration Process</a></li>
        <li><a href="https://www.uni-passau.de/en/immigration-formalities/residence-permit-for-international-students-in-germany">Residence Permit Guidelines</a></li>
    </ul>
    </mat-card>
</div>



