<mat-grid-list [cols]="isSmallScreen ? 1 : 2" rowHeight="2:1" class="custom_mat-grid-list">

    <!-- First Grid Tile -->
    <mat-grid-tile  class="new_app_tile">
      <mat-card  class="custom-card">
        <h2>{{globalLabels.apply_first_time_residence_permit_title}}</h2>
        <span>{{globalLabels.apply_first_time_residence_permit_explaination}}</span>
        <span>{{globalLabels.apply_first_time_residence_permit_hint}}</span>
        <button mat-raised-button color="primary" (click)="startNewApplication()">{{globalLabels.apply_first_time_residence_permit_button_text}}</button>
        <span>{{globalLabels.apply_first_time_residence_permit_reminder}}</span>
        <a mat-button routerLink=".">{{globalLabels.apply_first_time_residence_permit_needed_documents_link_text}}</a>
      </mat-card>
    </mat-grid-tile>
  
    <!-- Second Grid Tile -->
    <mat-grid-tile  class="cont_app_tile">
      <mat-card class="custom-card">
        <h2>{{globalLabels.continue_residence_permit_application_title}}</h2>
        <span>{{globalLabels.continue_residence_permit_application_explanation}}</span>
        <button mat-raised-button color="primary">{{globalLabels.continue_residence_permit_application_button_text}}</button>
      </mat-card>
    </mat-grid-tile>
  
  </mat-grid-list>