<form style="align-items: center; text-align: center; justify-content: center;" *ngIf="!isDataLoading; else spinner">
  <br>
  <label>{{supportLabels.second_or_twelfth_Book_of_code_question_label}}</label>

  <div class="rounded-input-container" [class.filled]="meansOfSupportData.isSecondOrTwelfth" >
    <select id="is_Second_or_twelfth" (change)="extractedDataChanged()" name="is_Second_or_twelfth" [(ngModel)]="meansOfSupportData.isSecondOrTwelfth" class="custom-select"  [ngClass]="{'palceholder_selector': meansOfSupportData.isSecondOrTwelfth === ''}">
      <option value="" disabled selected>{{supportLabels.second_or_twelfth_Book_of_code_question_label}}</option>
      <option *ngFor="let isSecondOrTwelfthYesOrNoOption of yesNoOptions" [value]="isSecondOrTwelfthYesOrNoOption">{{ isSecondOrTwelfthYesOrNoOption }}</option>
    </select>
  </div>

  <label *ngIf="meansOfSupportData.isSecondOrTwelfth == supportLabels.yes_option" >{{supportLabels.code_of_social_law_question}}</label>

  <div class="rounded-input-container" *ngIf="meansOfSupportData.isSecondOrTwelfth == supportLabels.yes_option" [class.filled]="meansOfSupportData.supportTyeIfYes" >
    <select id="supportType" name="supportType" (change)="extractedDataChanged()" [(ngModel)]="meansOfSupportData.supportTyeIfYes" class="custom-select"  [ngClass]="{'palceholder_selector': meansOfSupportData.supportTyeIfYes === ''}">
      <option value="" disabled selected>{{supportLabels.code_of_social_law_question}}</option>
      <option *ngFor="let codeOfSocialLaw of codeOfSocialLawOptions" [value]="codeOfSocialLaw">{{ codeOfSocialLaw }}</option>
    </select>
  </div>

  <hr>


    <label>{{supportLabels.support_question_label}}</label>        
    <div class="rounded-input-container" style="margin-top: 30px;" [class.filled]="meansOfSupportData.meansOfSupport" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="means_support_field" id="means_support_field" [(ngModel)]="meansOfSupportData.meansOfSupport" placeholder="{{supportLabels.support_question_label}}">
    </div>
    

    <div *ngFor="let doc of financialSupportFiles let docIndex = index" >

      <label>{{supportLabels.financial_support_options_question}}</label>

      <div class="rounded-input-container" [class.filled]="financialSupportFiles[docIndex].fileType" >
        <select id="financialsupprtType{{docIndex}}" name="financialsupprtType{{docIndex}}" (change)="extractedDataChanged()" [(ngModel)]="financialSupportFiles[docIndex].fileType" class="custom-select"  [ngClass]="{'palceholder_selector': financialSupportFiles[docIndex].fileType === ''}">
          <option value="" disabled selected>{{supportLabels.financial_support_options_question}}</option>
          <option *ngFor="let financialSupportOption of financialSupportOptions" [value]="financialSupportOption">{{ financialSupportOption }}</option>
        </select>
      </div>
        <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openFinancialSupportInput(docIndex)">{{supportLabels.upload_financial_support_document_button_label}} </button>
      <input id="financialSupportInput{{docIndex}}" hidden type="file" accept=".pdf, .jpeg, .png" (change)="financialSupportUploaded($event, docIndex)" >
      <br>
      <span *ngIf="financialSupportFiles[docIndex]" style="margin-left: 10px;">{{ financialSupportFiles[docIndex].file?.name }}</span>

    </div>

    <div>
      <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="addNewFinancialSupport()">{{supportLabels.add_new_financial_support_document_button_label}} </button>
    </div>

    <label>{{supportLabels.finalFinancialValueLabel}}</label>
    <div class="rounded-input-container" [class.filled]="meansOfSupportData.finalValueOfFinancialSupport" >
      <input class="rounded-input" type="number" (change)="extractedDataChanged()" name="final_financial_documents_value" id="final_financial_documents_value" [(ngModel)]="meansOfSupportData.finalValueOfFinancialSupport" placeholder="{{supportLabels.finalFinancialValueLabel}}">
    </div>

    <label>{{supportLabels.noOfMonthsLabel}}</label>
    <div class="rounded-input-container" [class.filled]="meansOfSupportData.noOfMonths" >
      <input class="rounded-input" type="number" (change)="extractedDataChanged()" name="no_Of_Months" id="no_Of_Months" [(ngModel)]="meansOfSupportData.noOfMonths" placeholder="{{supportLabels.noOfMonthsLabel}}">
    </div>

    <hr>

   <label *ngIf="meansOfSupportData.isInsuranceAvailable">{{supportLabels.insurance_question}}</label>

   <div class="rounded-input-container" [class.filled]="meansOfSupportData.isInsuranceAvailable" >
    <select id="is_insurance_available" (change)="extractedDataChanged()" name="is_insurance_available" [(ngModel)]="meansOfSupportData.isInsuranceAvailable" class="custom-select"  [ngClass]="{'palceholder_selector': meansOfSupportData.isInsuranceAvailable === ''}">
      <option value="" disabled selected>{{supportLabels.insurance_question}}</option>
      <option *ngFor="let isInsuranceAvailableOption of yesNoOptions" [value]="isInsuranceAvailableOption">{{ isInsuranceAvailableOption }}</option>
    </select>
    
  </div>

  
  <div *ngIf="meansOfSupportData.isInsuranceAvailable  == supportLabels.yes_option">
    <button mat-raised-button class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openInsuranceInput()">{{supportLabels.upload_insurace_document}} </button>
  <input id="insuranceFileInput" hidden type="file" accept=".pdf, .jpeg, .png" (change)="insuranceUpload($event)">
  <br>
  <span *ngIf="insuranceFile" style="margin-left: 10px;">{{ insuranceFile.name }}</span>
 </div>

 <label *ngIf="meansOfSupportData.isInsuranceAvailable  == supportLabels.yes_option">{{supportLabels.insurance_company_label}}</label>

  <div class="rounded-input-container" *ngIf="meansOfSupportData.isInsuranceAvailable == supportLabels.yes_option" [class.filled]="meansOfSupportData.insuranceCompany" >
    <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="insurance_company" id="insurance_company" [(ngModel)]="meansOfSupportData.insuranceCompany" placeholder="{{supportLabels.insurance_company_label}}">
    
  </div>

  <label *ngIf="meansOfSupportData.isInsuranceAvailable  == supportLabels.yes_option">{{supportLabels.insurance_expiry_date_label}}</label>

  <div class="rounded-input-container" *ngIf="meansOfSupportData.isInsuranceAvailable == supportLabels.yes_option" [class.filled]="meansOfSupportData.date_of_expiry" >
    <input class="rounded-input" (change)="extractedDataChanged()" type="text" name="insurance_expiry_date" id="insurance_expiry_date" [(ngModel)]="meansOfSupportData.date_of_expiry" placeholder="{{supportLabels.insurance_expiry_date_label}}">
   
  </div>

  <div  style="display: flex; justify-content: center; margin-top: 2%">
    <mat-slide-toggle
      color="warn"
      [checked]="isOverwriteSlideOn == true ? true : false"
      (change)="overWriteChanged( $event )"
    >
      Override
    </mat-slide-toggle>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 1%;">
    <button mat-stroked-button matStepperPrevious style="width: 15%;  margin: 1%;  background-color: rgb(212, 212, 212); color: #b42e29;">{{supportLabels.back_button_label}}</button>
    <button mat-stroked-button style="background-color: #a47371; color: white; width: 15%;  margin: 1%;"  (click)="saveData()" >Save</button>
    <button mat-stroked-button style="background-color: #b42e29; color: white; width: 15%;   margin: 1%;" (click)="nextSupportClicked()" [disabled]="isNextDisabled" matStepperNext >{{supportLabels.next_button_label}}</button>        
  </div>

  </form>

  <ng-template #spinner>
    <!-- Spinner overlay -->
    <div class="spinner-overlay" [ngClass]="{'custom-spinner-color': isDataLoading}">
      <mat-spinner color="white" ></mat-spinner>
    </div>
  </ng-template>