<div *ngIf="!isDataLoading; else spinner">
    <label>Please Enter the minumum money value accepted as monthly allowance for the application:</label>
    <div class="rounded-input-container" >
        <input class="rounded-input"  type="number" name="minimum_value_field" id="minimum_value_field" [(ngModel)] = "minimumValue">
    </div> 
    <div style="display: flex; align-items: center; margin: 10px; padding-top: 20px;">

        <button mat-raised-button  style="width: 25%; margin: auto; background-color: #b42e29; color: white;" (click)="Save()">Save</button>
    </div>

    
</div>







<ng-template #spinner>
        <!-- Spinner overlay -->
    <div class="spinner-overlay" [ngClass]="{'custom-spinner-color': isDataLoading}">
        <mat-spinner color="white" ></mat-spinner>
    </div>
</ng-template>