<form style="align-items: center; text-align: center; justify-content: center;" (submit)="false" *ngIf="!isDataLoading; else spinner">
    <br>
    <div *ngFor="let doc of additionalDocs">
      <button mat-raised-button type="button" class="upload_button" style="width: 25%; margin-top: 15px; margin-bottom: 20px; background-color: #b42e29; color: white;" (click)="openDocumentInput(doc.name)">upload {{doc.name}}</button>
      <input #fileInput [id]="'input-' + doc.name" hidden type="file" accept=".pdf, .jpeg, .png" (change)="inputUploaded($event, doc.name)" ><br>
      <span *ngIf="additionalDocsMap.get(doc.name)" style="margin-left: 10px;">{{ additionalDocsMap.get(doc.name)?.name }}</span>
    </div>
    <label>{{additionalDocumentsLabels.periodLabel}}</label>
    <br>
    <label>{{additionalDocumentsLabels.noOfYears}}</label>
    <div class="rounded-input-container" [class.filled]="noOfYears" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="number" [ngClass]="{'palceholder_selector': noOfYears === 0}" name="no_of_years" id="no_of_years" [(ngModel)]="noOfYears" placeholder="0">
    </div><label>{{additionalDocumentsLabels.noOfMonths}}</label>
    <div class="rounded-input-container" [class.filled]="noOfMonths" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="number" [ngClass]="{'palceholder_selector': noOfMonths=== 0}" name="height_field" id="height_field" [(ngModel)]="noOfMonths" placeholder="0">
    </div><label>{{additionalDocumentsLabels.noOfDays}}</label>
    <div class="rounded-input-container" [class.filled]="noOfDays" >
      <input class="rounded-input" (change)="extractedDataChanged()" type="number" [ngClass]="{'palceholder_selector': noOfDays === 0}" name="height_field" id="height_field" [(ngModel)]="noOfDays" placeholder="0">
    </div>
    <div style="display: flex; justify-content: center; margin-top: 1%;">
      <button mat-stroked-button matStepperPrevious style="width: 15%;  margin: 1%;  background-color: rgb(212, 212, 212); color: #b42e29;">{{additionalDocumentsLabels.back_button_label}}</button>
      <button mat-stroked-button style="background-color: #b42e29; color: white; width: 15%;   margin: 1%;" (click)="adiitionaDocumentsNextClicked()" >{{additionalDocumentsLabels.next_button_label}}</button>        
      <button #hiddenButton hidden matStepperNext>Hidden Button</button>
    </div>
</form>

<ng-template #spinner>
    <!-- Spinner overlay -->
    <div class="spinner-overlay" [ngClass]="{'custom-spinner-color': isDataLoading}">
      <mat-spinner color="white" ></mat-spinner>
    </div>
  </ng-template>