<app-header></app-header>

<div class="main_div">
    
    <mat-card #content class="card-container" *ngIf="!isUserLoading; else spinner">
        
        <form class="form-class" [formGroup]="emailForm" (ngSubmit)="onSubmit()" >
            

            <h1 style="color: #b42e29;">{{login_labels.pageTitle}}</h1>
            <div class="rounded-input-container" >
                <input class="rounded-input" required type="email" name="email_field" id="email_field" formControlName = "email" placeholder="{{login_labels.email_label}}">
                <label class="placeholder-label">{{login_labels.email_label}}</label>
            </div>
            <div class="rounded-input-container"  >
                <input class="rounded-input" required type="password" name="password_field" id="password_field" formControlName = "password" placeholder="{{login_labels.password}}">
                <label class="placeholder-label">{{login_labels.password}}</label>
            </div>

            <div *ngIf="emailForm.get('email')?.hasError('email') && emailForm.get('email')?.touched" style="color: red;">
                Please enter a valid email address.
              </div>
            
            <div class="rounded-input-container" >
                <button mat-raised-button class="custom-button" type="submit" color="primary">{{login_labels.login_button_label}}</button> 
            </div>
   
        </form>
    </mat-card>

    <ng-template #spinner>
        <!-- Spinner overlay -->
        <div class="spinner-overlay" [ngClass]="{'custom-spinner-color': isUserLoading}">
          <mat-spinner color="white" ></mat-spinner>
        </div>
      </ng-template>
    </div>


    