<app-header></app-header>

<div class="main_div">
    
    <mat-card class="card-container" *ngIf="!isDataLoading; else spinner">
      <h1 style="color: #b42e29;">Documents Types</h1>
          <h3 style="color: grey;">Informations About the Douments and where to get them.</h3>
        <div style="width: 70%;">
          
          <div *ngFor="let documentItem of documentsData, let i =index" class="document-item">
            <div class="document-name" (click)="toggleAnswer(i)">
              <mat-icon style="color: #b42e29;">{{ documentsData[i].isOpened ? 'remove' : 'add' }}</mat-icon> 
              <span class="name-text"> {{ documentsData[i].name }}</span>
            </div>
            <div class="document-description" *ngIf="documentsData[i].isOpened">
              <p class="description-text">{{ documentsData[i].description }}</p>
            </div>
            <mat-divider class="custom-divider"></mat-divider>            
          </div>
      
        </div>
      </mat-card>



<ng-template #spinner>
        <!-- Spinner overlay -->
        <div class="spinner-overlay" [ngClass]="{'custom-spinner-color': isDataLoading}">
          <mat-spinner color="white" ></mat-spinner>
        </div>
</ng-template>