<mat-toolbar color="primary" >
    <div>
        <!-- <span>RPAP</span> -->
        <img src="assets/Wappen_Passau.png" alt="Logo" class="logo">
    </div>
    <div class="spacersmall"></div>
    <div class="navbar-buttons">
        
        <button mat-button (click)="headerLinkClicked(labels.home_page_button_label)">{{labels.home_page_button_label}}</button>
        <button mat-button (click)="headerLinkClicked(labels.newbie_guide_page_button_label)">{{labels.newbie_guide_page_button_label}}</button>
        <button mat-button (click)="headerLinkClicked(labels.requently_asked_questions_page_button_label)">{{labels.requently_asked_questions_page_button_label}}</button>
        <button mat-button (click)="headerLinkClicked(labels.documents_information_page_button_label)">{{labels.documents_information_page_button_label}}</button>
        <button mat-button (click)="headerLinkClicked(labels.contact_page_button_label)">{{labels.contact_page_button_label}}</button>
    </div>
    <div class="spacer"></div>
    <div>
        <button mat-fab extended color="basic" (click)="headerLinkClicked(labels.admin_login_button_label)">
            <mat-icon>login</mat-icon>
            <span id="admin_span">{{labels.admin_login_button_label}}</span>
          </button>

    </div>
   
  </mat-toolbar> 