
  
  .footer-content {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-shrink: 0; /* Ensure the footer doesn't shrink if the content is short */

  }