<app-header></app-header>

<div class="main_div">
    <div class="chip_div">
        <mat-chip-listbox class="list_box" [multiple]="false" aria-label="Color selection">
           
            <mat-chip-option *ngFor="let chip of availableColors; trackBy: trackByFn" [value]="chip.name" [selected]="chip.name === selectedValue" (selectionChange)="onSelectionChange($event)" style="width: 19%">
                {{ chip.name }}
            </mat-chip-option>
  
        </mat-chip-listbox>
    </div>
    <mat-card #content class="card-container">
      <div *ngIf="selectedValue == 'FAQ'">
          <app-faq-component></app-faq-component>
      </div>
      <div *ngIf="selectedValue == 'Documents'">
         <app-documents></app-documents>
      </div>
      <div *ngIf="selectedValue == 'Contact'">
        <app-contacts></app-contacts>
     </div>
     <div *ngIf="selectedValue == 'Users'">
        <app-users></app-users>
     </div>
     <div *ngIf="selectedValue == 'Application-Documents'">
        <app-additional-documents></app-additional-documents>
     </div>
     <div *ngIf="selectedValue == 'Minimum-Value'">
        <app-financial-value></app-financial-value>
     </div>

      
    </mat-card>
  </div>